<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="h-100 container-fluid">
    <div class="container-fluid my-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/labels/labelset">Create Label Set</a>
            </li>
        </ul>
    </div>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <h1> Welcome to Annotation Application</h1>
    </div>
    <div class="col-md-8 offset-md-2">
        <div>
            <h5>Select Dataset to Annotate</h5>
        </div>
        <% for (let i=0; i<collections.length; i++) {%>
            <div class="row mb-3 collectionNameRow">
                <div class="col-5 collectionName">
                    <span>
                        <%= collections[i] %>
                    </span>
                </div>
                <div class="col-5">
                    <select class="form-select form-select-sm" name="selectLabelSet" id="<%= collections[i] %>">
                        <% for (let labelSet of labelSetLIst) {%>
                            <option value="<%= labelSet%>">
                                <%= labelSet%>
                            </option>
                            <% }%>

                    </select>
                </div>
                <div class="col-2">
                    <button class="btn btn-sm btn-primary goToAnnotation" type="button">
                        Go To Annotation
                    </button>
                </div>

            </div>
            <% } %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="/javascripts/home.js"></script>
</body>

</html>